@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  background-image: url(/img/header_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo__title {
  margin: 40px auto;
  font-weight: 500;
  font-size: 32px;
  line-height: 130%;
}
.nav__menu {
  display: flex;
  gap: 35px;

  justify-content: space-between;
  align-items: center;
}
.nav__menu-list {
  display: flex;
  justify-content: space-between;
  gap: 35px;
  align-items: center;
}
.nav__menu-items {
}
.nav__menu-link {
}
.header__descr {
  max-width: 936px;
  margin-top: 150px;
}
.header__descr h1 {
  font-weight: 600;
  font-size: 96px;
  line-height: 116px;
}

.header__descr p {
  max-width: 438px;
  padding-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.btn {
  width: 180px;
  height: 60px;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
}
.header__btn {
  color: #1d1d1f;
  margin-top: 50px;
  margin-bottom: 211px;
}


.about-container {
  margin-top: 190px;
  /* margin-bottom: 190px; */
  display: flex;
  justify-content: space-between;
  gap: 420px;
}

.about__dig h3 {
font-weight: 300;
font-size: 64px;
line-height: 140%;

}
.about__dig p {
  padding-bottom: 60px;
  font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #838383;
}

.about__descr {
  width: 570px;
}
.about__descr h2 {
  padding-bottom: 60px;
  font-weight: 700;
font-size: 44px;
line-height: 140%;
}

.about__descr p {
  padding-bottom: 30px;
font-weight: 400;
font-size: 16px;
line-height: 150%;
}